<div id="purchases-form">
  <label for='title'>Title</label>
  <input #title type="text" id="title" maxlength="35">
  <span class="alertMsg" *ngIf='isExist'>This recipe already exists</span>
  
  <label for="description">Description</label>
  <textarea #descr id="description" cols="30" rows="10"></textarea>

  <label for="photoUrl">Photo URL</label>
  <input #url type="url" id="photoUrl">

  <label for="instructions">Instructions</label>
  <textarea #instr id="instructions" cols="30" rows="10"></textarea>

  <button (click)='addNewRecipe(title.value, descr.value, url.value, instr.value)'>Add</button>
</div>
