<header>
  <img class="logo" 
    routerLink="all-recipes" 
    src="https://img.pngio.com/download-cooking-pot-vector-png-png-image-with-no-background-black-and-white-cook-pot-png-no-background-1201_1163.png" 
    alt="pot"
  >
  <h1>Recipes</h1>
  <nav class="main-nav">
    <a class="nav-item" routerLink="all-recipes" routerLinkActive="active">All recipes</a>
    <a class="nav-item" routerLink="favorites" routerLinkActive="active">Favorites</a>
    <a class="nav-item" routerLink="purchases" routerLinkActive="active">Purchases</a>
  </nav>
</header>