.recipe-input-form {
  padding-top: 8vw;
  display: grid;
  grid-auto-flow: row;
  margin: 0 auto;
  width: 60%;
  grid-gap: 1vw;
  font-size: 2rem;

  .inputs {
    display: grid;
    grid-auto-flow: row;

    input, textarea {
      font-size: 2rem;
    }
  }

  button {
    width: 7vw;
    height: 2.5vw;
    background-color: rgb(23, 122, 94);
    border: none;
    border-radius: 0.3vw;
    color: white;
    font-size: 1.2rem;
    margin-left: auto;
  }

  button:hover {
    background-color: rgb(53, 163, 132);
  }
  
  .recipe-input-form__error-msg {
    color: rgb(165, 14, 14);
  }

  #add-ingredients-btn {
    width: 2vw;
    height: 2vw;
  }
}